.login-form{
    max-width: 300px;
    margin: 0 auto;
    h3{
        text-align: center;
    }

    p.text-error{
        @extend h3;
    }

    .button-wrapper{
        width: 100%;
        button{
            &[disabled]{
                opacity: .5;
            }
            width: 100%;
        }
    }

    .google-btn{
        i.fa{
            margin: 0 7px 0 0;
        }
    }
}
