.home-con{
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    .con{
        box-sizing: border-box;
        &:first-child{
            width: 34%;
        }
       &:nth-child(2){
           width: 66%;
           padding: 0 0 0 20px;
           
       }
    }
}